@media (max-width: 400px) {
  form {
    display: block;
    max-width: 100%;

    .actions {

      button {
        margin: 2em 10% 0 20%;
      }
    }
  }
}

@media (min-width: 401px) {
  form {
    max-width: 400px;
    .actions {
       button {
        margin: 2em 0 0 30%;
      }
    }
  }
}

form {
  margin: 50px auto 0;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  .actions {
    display: inline-grid;
  }
}
